.grid {
    background: linear-gradient(#5e50a1 , var(--purple)) ;
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 75px calc(100vh - 75px) 650px;
    grid-template-areas: 
        'header'
        'first'
        'about'
}

/* Header area start */
header {
    grid-area: header;
    display: grid;
    height: 75px;
    gap: 5px;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 75px;
    grid-template-areas: 
        'iconContainer buttonContainer'
}

.iconContainer {
    display: flex;
    grid-area: iconContainer;
}

.icon {
    margin: auto;
    width: 50px;
    height: 50px;
    color: #E4B1F0;
}

.buttonContainer {
    display: flex;
    grid-area: buttonContainer;
    justify-content: flex-end;
    padding: 10px;
}

.button {
    background: none;
    border: 2px solid var(--pink);
    border-radius: 5px;
    width: 125px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    color: var(--pink);
}

.buttonResume {
    background-color: var(--pink);
    border: 2px solid var(--pink);
    border-radius: 5px;
    width: 125px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    color: var(--purple);
}
/* Header area end */

.first {
    grid-area: first;
}

.about {
    grid-area: about;
}