.grid {
    background-color: #433878;
    display: grid;
    height: 1000px;
    grid-template-columns: 100%;
    grid-template-rows: 75px 620px;
    grid-template-areas: 
        'header'
        'about'
}

header {
    grid-area: header;
    display: grid;
    height: 75px;
    gap: 5px;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 75px;
    grid-template-areas: 
        'iconContainer buttonContainer'
}

.iconContainer {
    display: flex;
    grid-area: iconContainer;
}

.icon {
    margin: auto;
    width: 50px;
    height: 50px;
    color: #E4B1F0;
}

.buttonContainer {
    display: flex;
    grid-area: buttonContainer;
    justify-content: flex-end;
    padding: 10px;
}

.button {
    background: none;
    border: 2px solid #E4B1F0;
    border-radius: 5px;
    width: 125px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    color: #E4B1F0;
}

.buttonResume {
    background-color: #E4B1F0;
    border: 2px solid #E4B1F0;
    border-radius: 5px;
    width: 125px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    color: #433878;
}

.about {
    grid-area: about;
}