section {
    background-color: var(--purple);
    margin: 0 auto 0 auto;
    width: 900px;
    display: flex;
    padding: 50px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 7px 7px 0px black;
}

h1 {
    font-size: 50px;
}

p {
    text-align: justify;
}

.toolCardContainer {
    display: flex;
    list-style-type: none; 
}

.img {
    width: 350px;
    height: 350px;
    margin: auto 0 auto 25px;
    border-radius: 10px;
    box-shadow: 7px 7px 0px black;
}