main {
    margin: 100px auto auto auto;
}

.intro {
    color: var(--lilac);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.container {
    margin: 10px 0 20px 0;
}

.title {
    color: var(--ligth-lilac);
    font-size: 60px;
    font-weight: bold;
}

.subtitle {
    color: var(--lilac);
    font-size: 60px;
    text-align: left;
}

.text {
    color: var(--lilac);
    text-align: justify;
    width: 500px;
}

.button {
    background-color: var(--ligth-lilac);
    border: 2px solid var(--ligth-lilac);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    color: var(--purple);
    margin-top: 20px;
    transition: 0.5s;
}

.button:hover {
    background-color: var(--ligth-lilac);
    border: 2px solid var(--ligth-lilac);
    cursor: pointer;
}