* {
  padding: 0;
  margin: 0;
  color: var(--pink);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --black: #0f0b11;
  --purple: #3B1E54;
  --lilac: #9B7EBD;
  --ligth-lilac: #D4BEE4;
  --white: #EEEEEE;
}